---
import Books from "../components/Books.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <header>
    <p>
      Hello, friend 👋. <br />
      Welcome to <a href="https://github.com/kantuni" target="_blank">my</a>
      space on the Internet!
    </p>
  </header>
  <main>
    <Books />
  </main>
  <footer>
    <p>
      The source code is available on
      <a href="https://github.com/kantuni/blog" target="_blank">GitHub</a>.
    </p>
  </footer>
</Layout>
