---
import "@picocss/pico/css/pico.blue.min.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>kantuni.am</title>
    <style is:global>
      :root {
        --pico-font-size: 100%;
      }

      hgroup > h2 {
        margin-bottom: 0.25rem;
      }
    </style>
  </head>
  <body class="container">
    <slot />
  </body>
</html>
