---
import "@picocss/pico/css/pico.blue.min.css"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Henrikh's space on the Internet" />
    <title>kantuni.am</title>
    <style is:global>
      :root {
        --pico-font-size: 100%;
      }

      header p:last-child,
      footer p:last-child {
        margin-bottom: 0;
      }

      hgroup > h2 {
        margin-bottom: 0.25rem;
      }
    </style>
    <script
      is:inline
      src="https://sdk.feedback.one/v0/core.min.js"
      data-project-id="01946198-cc19-7573-90bf-71c476fcf3aa"
      defer></script>
  </head>
</html>
<body class="container">
  <slot />
</body>
